<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

    <form method="post">
        <input type="text" name="email" />
        <input type="text" name="password" />
        <button type="submit">로그인</button>
    </form>

    <a href="/register">가입</a>
</body>
</html>